<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyang.admin.dao.AccountInfoMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.xuyang.admin.entity.AccountInfo">
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickName"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="auth_range" property="authRange" jdbcType="VARCHAR"/>
        <result column="auth_name" property="authName" jdbcType="CHAR"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="is_del" jdbcType="CHAR" property="isDel"/>
        <result column="level"  jdbcType="CHAR" property="level"/>
        <result column="job" jdbcType="VARCHAR" property="job"/>
        <result column="introduction_of_author" property="introduction" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getAccountInfo" resultType="com.xuyang.admin.entity.AccountInfo">
        select uuid,username, nickName, name, sex, mobile, email, auth_name as authName, auth_range as authRange, avatar, is_del as isDel,
         level,job, introduction_of_author as introduction, create_time as creaateTime, modify_time as modifyTime from account_info where uuid=#{uuid}
    </select>
    <insert id="addUser" parameterType="com.xuyang.admin.entity.AccountInfo">
        insert into account_info(
            uuid, username, nickName,name,sex,mobile,email,auth_name, is_del, level, job, introduction_of_author,create_time,modify_time
        )
        values (
            #{uuid},#{username},#{nickName}, #{name}, #{sex}, #{mobile}, #{email}, #{authName},#{isDel},#{level},#{job}, #{introduction}, now(), now()
        )
    </insert>
    <update id="deleteByUuid">
        update account_info set is_del=1 where uuid=#{uuid}
    </update>
    <select id="getAllAccount" resultMap="BaseResultMap">
        select * from account_info
    </select>
    <select id="getAllAccountByParams" resultMap="BaseResultMap" parameterType="com.xuyang.admin.entity.AccountInfo">
        select * from account_info
        WHERE 1 = 1
        <if test="username != null and username !='' ">
            and username = #{username,jdbcType=VARCHAR}
        </if>
        <if test="name != null and name !='' ">
            and name  = #{name,jdbcType=VARCHAR}
        </if>
        <if test="mobile != null and mobile !='' ">
            <bind name="pattern" value="'%' + mobile + '%'" ></bind>
            and mobile like  #{pattern}
        </if>
        <if test="authName != null and authName !='' ">
            and auth_name =  #{authName}
        </if>
        <if test="isDel != null and isDel !='' ">
            and is_del =  #{isDel}
        </if>
            limit #{pageBefore},#{pageSize}
    </select>
    <update id="updateAccount" parameterType="com.xuyang.admin.entity.AccountInfo">
        update account_info set nickName=#{nickName}, name=#{name},sex=#{sex},mobile=#{mobile}, email=#{email},auth_name=#{authName},is_del=#{isDel},level=#{level},job=#{job},introduction_of_author=#{introduction},modify_time=now()
        where uuid=#{uuid}
    </update>
    <select id="getAccountTotal" resultType="java.lang.Integer" parameterType="com.xuyang.admin.entity.AccountInfo">
        select count(*) as total from account_info
        WHERE 1 = 1
        <if test="username != null and username !='' ">
            and username = #{username,jdbcType=VARCHAR}
        </if>
        <if test="name != null and name !='' ">
            and name  = #{name,jdbcType=VARCHAR}
        </if>
        <if test="mobile != null and mobile !='' ">
            <bind name="pattern" value="'%' + mobile + '%'" ></bind>
            and mobile like  #{pattern}
        </if>
        <if test="authName != null and authName !='' ">
            and auth_name =  #{authName}
        </if>
        <if test="isDel != null and isDel !='' ">
            and is_del =  #{isDel}
        </if>
    </select>
</mapper>