<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyang.blog.dao.AccountMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.xuyang.blog.entity.Account">
        <result column="uuid" />
        <result column="username" />
        <result column="password" />
        <result column="isDel" />
    </resultMap>
    <select id="queryAccountList" resultType="com.xuyang.blog.entity.Account">
        select uuid,username,password,create_time as createTime,modify_time as modifyTime, is_del as isDel from account
    </select>
    <select id="getAccountByUserName" resultType="com.xuyang.blog.entity.Account">
        select * from account WHERE username = #{username} limit 1
    </select>
    <sql id="Base_Column_List">
        uuid, username, password, isDel
    </sql>
    <insert id="insertAccount" parameterType="com.xuyang.blog.entity.Account">
        insert into account(uuid,username,password,create_time,modify_time,is_del) values(#{uuid},#{username},#{password},now(),now(),#{isDel})
    </insert>
    <update id="updateAccount" parameterType="com.xuyang.blog.entity.Account">
        update account set password=#{password}, modify_time = now() where uuid = #{uuid}
    </update>
</mapper>