<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyang.admin.dao.AccountMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.xuyang.admin.entity.Account">
        <result column="uuid"  jdbcType="VARCHAR" property="uuid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="is_del" jdbcType="VARCHAR" property="isDel"/>
        <result column="isDisable" jdbcType="VARCHAR" property="isDisable"/>
        <result column="errCount" jdbcType="VARCHAR" property="errCount"/>
        <result column="usedPwd" jdbcType="VARCHAR" property="usedPwd"/>
        <result column="lastUpdateTime" jdbcType="VARCHAR" property="lastUpdateTime"/>
        <result column="lockTime" jdbcType="VARCHAR" property="lockTime"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modify_time" jdbcType="VARCHAR" property="modifyTime"/>
    </resultMap>
    <select id="login" resultMap="BaseResultMap">
        select * from account where username=#{username} and password=#{password} and is_del = 0
    </select>
    <select id="getAccountByUsername" resultMap="BaseResultMap">
        select * from account where username=#{username}
    </select>
    <insert id="addUser" parameterType="com.xuyang.admin.entity.Account">
        insert into account(uuid, username, password, is_del, isDisable, errCount, usedPwd, create_time, lastUpdatetime, modify_time)
        values (
            #{uuid},#{username},#{password},#{isDel},#{isDisable},#{errCount},#{usedPwd}, now(), now(), now()
        )
    </insert>
    <update id="deleteByUuid"  parameterType="com.xuyang.admin.entity.Account">
        update account set is_del=1 where uuid=#{uuid}
    </update>
    <update id="updatePassword"  parameterType="com.xuyang.admin.entity.Account">
        update account set password=#{password}, modify_time = now() where uuid=#{uuid}
    </update>
    <select id="getAccountByUUidAndPsw" parameterType="com.xuyang.admin.entity.Account" resultMap="BaseResultMap">
        select * from account where uuid=#{uuid} and password=#{password} limit 1
    </select>
</mapper>