<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyang.blog.dao.AccountMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.xuyang.blog.entity.Account">
        <result column="uuid"  jdbcType="VARCHAR" property="uuid"/>
        <result column="username" jdbcType="VARCHAR" property="password"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="is_del" jdbcType="VARCHAR" property="isDel"/>
        <result column="isDisable" jdbcType="VARCHAR" property="isDisable"/>
        <result column="errCount" jdbcType="VARCHAR" property="errCount"/>
        <result column="usedPwd" jdbcType="VARCHAR" property="usedPwd"/>
        <result column="lastUpdateTime" jdbcType="VARCHAR" property="lastUpdateTime"/>
        <result column="lockTime" jdbcType="VARCHAR" property="lockTime"/>
    </resultMap>
    <sql id="Base_Column_List">
      uuid, username, password, is_del, isDisable, errCount, usedPwd, lastUpdateTime, lockTime
      </sql>
    <select id="login" resultType="com.xuyang.blog.entity.Account">
        select * from account where username=#{username} and password=#{password}
    </select>
</mapper>